body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    width: 400px;
    background: #020617;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px black;
}

.chat-header {
    background: #38bdf8;
    color: black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}

.chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
}

.user {
    background: #2563eb;
    color: white;
    margin-left: auto;
}

.bot {
    background: #1e293b;
    color: #e5e7eb;
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background: #020617;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.input-area button {
    margin-left: 10px;
    padding: 10px 15px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
